<md-sidenav class="site-sidenav md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">


    <md-toolbar>
        <h1>Blogs</h1>
    </md-toolbar>

    <md-list class="bloglist">
        <md-subheader>Posts</md-subheader>
        <md-list-item class="bloglist-item" ng-init="ul.firstList()" ng-repeat="it in ul.blogs | filter: {posted: true}">
            <a ng-click="ul.selectBlog(it)" ng-class="{'selected' : it === ul.selected }">
                {{it.title}}
            </a>
        </md-list-item>
        <md-subheader>Drafts</md-subheader>
        <md-list-item class="bloglist-item" ng-init="ul.firstList()" ng-repeat="it in ul.blogs | filter: {posted: false}">
            <a ng-click="ul.selectBlog(it)" ng-class="{'selected' : it === ul.selected }">
                {{it.title}}
            </a>
        </md-list-item>
    </md-list>
    <md-button id="newpost" ng-click="ul.addBlog()">Add New Post</md-button>
</md-sidenav>