<div flex layout="column" tabIndex="-1" role="main" ng-init="uc.getPost($stateParams)">
<div class="header">
        <strong><input type="text" aria-label="..." ng-model="uc.post.title" id="newContainer" ng-disabled="uc.blogs.length == 0" placeholder="Title..." ng-change="uc.getChange(uc.post); uc.addPostParam(uc.post)"></strong>
    </div>
<div class="panel">
    <div layout="row">
        <md-input-container aria-label="..." flex>
            <md-select-label aria-label="..." class="gray">County</md-select-label>
            <md-select aria-label="..." ng-model="uc.post.county" ng-change="uc.getChange(uc.post)">
                <md-option aria-label="..." class="blackify" ng-repeat="county in uc.counties" ng-click="uc.addCountyParams(uc.selected, county.param)">{{ county.name }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex aria-label="...">
            <md-select-label aria-label="..." class="gray" aria-label="...">Category</md-select-label>
            <md-select aria-label="..." ng-model="uc.post.category" ng-change="uc.getChange(uc.post)" aria-label="...">
                <md-option aria-label="..." class="blackify" ng-repeat="category in uc.categories" aria-label="...">{{ category.name }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex>
            <md-select-label class="gray" aria-label="...">Season</md-select-label>
            <md-select ng-model="uc.post.season" ng-change="uc.getChange(uc.post)" aria-label="...">
                <md-option class="blackify" ng-repeat="season in uc.seasons" aria-label="...">{{ season.name }}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container flex>
            <md-radio-group aria-label="..." ng-model="uc.post.posted" ng-change="uc.getChange(uc.post)">
                <md-radio-button ng-value="true" aria-label="Label 1">
                    Posted
                </md-radio-button>
                <md-radio-button ng-value="false" aria-label="Green">
                    Draft
                </md-radio-button>
            </md-radio-group>

        </md-input-container>
    </div>
    <hr/>
    <div class="field">
        <md-input-container class="md-block md-input-has-value">
            <textarea aria-label="..." froala id="taStyle" ng-model="uc.post.content" ng-change="uc.getChange(uc.post)" aria-invalid="false" ng-trim="false"></textarea>
        </md-input-container>

    </div>
</div>
</div>

</div>


