<div>
    <input type="checkbox" id="op">
    <div class="lower">
        <label for="op">=</label>
    </div>
    <div class="overlay overlay-hugeinc">
        <label for="op"></label>
        <nav>
            <ul>
                <li><a ng-click="{ active: nav.isActive('/home')}" ui-sref="home">Home</a></li>
                <li><a ui-sref="login" ng-click="{ active: nav.isActive('/login')}">Login</a></li>
                <li><a ui-sref="login" ng-click="{ active: nav.isActive('/login')}">Logout</a></li>
                <li><a ui-sref="newhome" ng-click="{ active: nav.isActive('/newhome')}">Latest Post</md-button></li>
                <li><a ui-sref="posts" ng-click="{ active: nav.isActive('/posts')}">All Posts</md-button></li>
            </ul>
        </nav>
    </div>
</div>
