<div class="mainee">
    <div class="login">
        <h1>Login</h1>
        <form method="post">
            <input class="inputlogin" type="text" name="u" placeholder="Username" required="required" />
            <input class="inputlogin" type="password" name="p" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
                <md-button class="md-raised md-primary" ng-click="lc.facebookLogin()">
                    Facebook Login
                </md-button>
                <md-button class="md-raised md-warn" ng-click="lc.googleLogin()">
                    Google Login
                </md-button>
        </form>
    </div>
</div>
