
<div class="right">
    <div ng-include="'./src/templates/login.html'"></div>
</div>
    <div class="top-padding"></div>
    <div ng-repeat="blog in ul.blogs | limitTo: 1">
    <div class="outer-categories">

    </div>
    <div class="blogContainer">
        <div class="blogOuter">
        <div class="title" ng-bind="blog.title"></div>
        <ul class="filters">
            <li class="filter"><i>{{ blog.category }}</i> |</li>
            <li class="filter"><i>{{ blog.county }}</i> |</li>
            <li class="filter"><i>{{ blog.season }}</i></li>
        </ul>
            <!--blogContent messagestyle-->
        <p><div class="fr-view" ng-bind-html="blog.content"></div></p>
    </div>
        </div>
</div>